/*  MEDIA QUERY PHONE */
@media (min-width: 320px) and (max-width: 575px) {
    .header__nav {
    justify-content: space-between;
    }

    .intro{
        grid-template-columns: 1fr;

        @keyframes intro_title_effect_xs {
            0% { font-size: 0;}
            100% {font-size: $font-xs-title;}
        }

        &__title {
            font-size: $font-xs-title;
            animation-name: intro_title_effect_xs;
        }

        &__subtitle {
            font-size: $font-xs-subtitle;
            }
    }

    .skills__image--destacada {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    /* About me page */
    .aboutme__title {
        padding: 30px;
        font-size: $font-xs-title;
    }

    .story {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &__checkarticle {
            margin-top: 2rem;
        }

        &__image {
            max-width: 10%;
        }

        &__imagebox {
            margin-top: 1rem;
        }

        &__image {
            max-width: 15%;
        }
    }

    .experience__article {
        box-shadow: 15px 20px 25px -5px rgba(0,0,0,0.25);
        border-radius: 12px;
        margin-top: 25px;
        padding: 10px;
    }

    /* Studies page */
    .studies {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 4rem;

        &__title {
            font-size: $font-xs-title;
        }
    }

    /* Portfolio page */
    .portfolio{
        &__title {
            font-size: $font-xs-title;
        }
    
        &__article {
            flex-direction: column;
        }
    
        &__subtitle {
            font-size: $font-xs-subtitle;
        }
    
    }

    /* contact page */
    .contact{
        &__title {
            font-size: $font-xs-title;
        }

        &__article {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

/*  MEDIA QUERY TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    .header__nav {
    justify-content: space-between;
    }

    .intro {
        &__image {
            max-width: 50%;
        }
    
        @keyframes intro_title_effect_md {
            0% { font-size: 0;}
            100% {font-size: $font-md-title;}
        }

        &__title {
            font-size: $font-md-title;
            animation-name: intro_title_effect_md;
        }
    
        &__subtitle {
        font-size: $font-md-subtitle;
        }
    }


    .skills__image--destacada {
        max-width: 40%;
        height: auto;
    }

    footer {
        flex-direction: column;
    }

    /* About me page */
    .aboutme__title {
        font-size: $font-md-title;
    }

    .story {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        &__checkarticle {
            margin-top: 2rem;
        }
    
        &__image {
            max-width: 10%;
        }
    
        &__imagebox {
            margin-top: 1rem;
        }
    
        &__image {
            max-width: 5%;
        }
    }

    /* Studies page */
    .studies {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 4rem;

        &__title {
            font-size: $font-md-title;
        }
    }

    /* Portfolio page */
    .portfolio {
        &__title {
            font-size: $font-md-title;
        }

        &__article {
            flex-direction: column;
        }

        &__subtitle {
            font-size: $font-md-subtitle;
        }
    }

    /* contact page */
    .contact {
        &__title {
            font-size: $font-md-title;
        }

        &__article {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}