/* Colores */
$color-principal: #064e3b;
$color-secundario: #07cf90;
/* LG */ 
$font-lg-title: 100px;
$font-lg-subtitle: 48px;
/* MD */ 
$font-md-title: 50px;
$font-md-subtitle: 40px;
/* XS */ 
$font-xs-title: 32px;
$font-xs-subtitle: 24px;